.navbar{
    width: 100%;
    /* background-color: rgba(0, 0, 0, .7); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 30px;
}

.icons{
    display: flex;
    gap: 20px;
    align-items: center;
}